.accessories_by_categories_container {
  width: 100%;
  background-color: #f5f5f7;
  padding: 20px;
}

.accessories_by_category_heading {
  text-align: center;
  margin-bottom: 20px;
}

.accessories_by_category {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  flex-wrap: wrap;
}

.different_accessories {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(39% - 1rem);
  margin-bottom: 20px;
}

.accessories_content {
  padding: 10px;
}

.accessories_explore_btn {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 13%;
}

.accessories_explore_btn p {
  color: #db1215;
  font-weight: 700;
  font-size: 18px;
}

.accessories_img img {
  width: 100%;
  height: 20vh;
  margin-top: 5%;
  /* max-width: 200px; */
}


/* Responsive adjustments */
@media (max-width: 1024px) {
  .different_accessories {
    width: calc(50% - 1rem);
  }

  .accessories_by_category_heading h1 {
    font-size: 28px;
  }

  .accessories_explore_btn p {
    font-size: 16px;
  }

  /* .accessories_img img {
    max-width: 150px;
  } */
}

@media (max-width: 768px) {
  .accessories_by_category {
    flex-direction: column;
    align-items: center;
  }

  .different_accessories {
    width: 100%;
    flex-direction: row;
    text-align: left;
  }

  .accessories_img img {
    max-width: 120px;
  }
}

/* Removed max-width: 480px block to maintain the same style below 480px */
