.car_accessories_list_container{
  height: 78vh;
  width: 100%;
  /* background-color: red; */
}
.car_accessories_header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 3%;
  font-weight: 600;
  font-size: 20px;
}
.car_accessories_header button {
  padding: 13px, 32px, 13px, 32px;
  width: 200px;
  height: 40px;
  background-color: #db1215;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 600;
}
.top_brand_accessories {
  height: fit-content;
  width: 308px;
  background-color: #f5f5f7;
}
.car_accessories_offerbtn {
  background-color: #ffe500;
  color: #322d00;
  position: relative;
  right: 24%;
  font-weight: 600;
  margin-left: 17%;
}
.listof_top_deal_products{
  margin-top: 3%;
  margin-left: 6%;
}