.faq_container {
  width: 80%;
  margin: 20px auto;
}

.faq_heading h1 {
  text-align: center;
  margin-bottom: 20px;
}

.faq_list {
  margin-top: 10px;
}

.faq_item {
  margin-bottom: 10px;
  /* border: 1px solid #c82b2b; */
  border-bottom: 1px solid rgb(157, 157, 157);
  padding: 10px;
  background-color: #ffffff;
}

.faq_question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}

.faq_question h3 {
  margin: 0;
}

.icon {
  font-size: 20px;
  font-weight: bold;
}

.faq_answer {
  margin-top: 10px;
  padding: 10px;
  color: #000000;
  background-color: #ffffff;
  font-weight: 500;
}
