.home_page_redirection {
  height: 7vh;
  width: 100%;
  background-color: #191919;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding: 7px 10px;
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  .home_page_redirection {
    display: none;
  }
}
